:root {
    --blue: #1877f2;
    --green: #42b72a;
    --light-blue: #E9EBEE;
    --light-green: #03ad06;
    --white: #FFFFFF;
    --black: #000000;
    --light-dark: rgba(0, 0, 0, 0.1);
    --palceholder: rgba(0, 0, 0, 0.4);
}

/*----------------- login ----------------------*/
body {
    background-color: var(--light-blue);
    font-size: 16px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
}
.content{ /*make it in the middle vertically and horizontally*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left{
    padding: 75px 0 0 75px;
}
.left h1{
    color: var(--blue);
    font-size: 60px;
    font-weight: 700;
}
.left p{
    font-size: 28px;
    line-height: 30px;
}
.right{
    margin: auto;
    padding: 0 90px;
}
.right form{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 15px 15px 25px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--light-dark), 0 8px 16px var(--light-dark);
}
.right form input{
    outline: none; /*remove border when it focused*/
    border-radius: 5px;
    border-width: 1.8px;
    border-color: var(--light-dark);
    margin-bottom: 10px;
    padding: 10px;
}
.right form input:focus {
    border: 1.8px solid var(--blue);
}
.right form ::placeholder{
    color: var(--palceholder);
}
.right form .login-btn{
    background-color: var(--blue);
    border: none;
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-weight: bolder;
}
.right form .login-btn:hover {
    background: var(--blue);
    cursor: pointer;
}
.right form hr{
    margin: 25px 0;
}
.right form .create-account{
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    padding: 10px 25px;
    font-weight: bolder;
    margin: auto;
    border: none;
}
.right form .create-account:hover {
    background: var(--light-green);
    cursor: pointer;
}
.right form a{
    margin: auto;
    text-decoration: none;
    font-size: 15px;
}
.right .page{
    padding: 25px 15px 0 15px;
    font-size: 15px;
    text-align: center;
}
.right .page a{
    text-decoration: none;
    font-weight: 600;
    color: var(--black);
}


/*------------ register ----------*/
.modal-header{
    align-items: start !important;
}
.modal-header .modal-title{
    font-weight: bolder;
}
.modal-header h2 span{
    display: block;
    font-size: 16px;
    font-weight: lighter;
}
.modal-body{
    padding-bottom: 0;
}
.modal-body .form-text .form-control{
    font-size: 16px;
}
.modal-body .birth-date h6, .modal-body .form-gender h6{
    font-size: 12px;
    margin-bottom: 0;
}
.modal-body .birth-date select{
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--light-dark);
    height: 36px;
    width: 100%;
    padding-left: 5px;
}
.modal-body .form-gender .gender{
    border: 1px solid var(--light-dark);
    display: inline-block;
    flex: 1 0 auto;
    height: 36px;
    padding: 0;
    position: relative;
    width: auto;
    border-radius: 5px;
    margin-right: 20px;
}
.form-gender .gender label{
    display: inline-block;
    line-height: 36px;
    padding: 0 75px 0 10px;
    width: 100%;
}
.form-gender .gender input{
    height: 36px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
}
.modal-body p{
    font-size: 12px;
}
.modal-body p a{
    color: var(--blue);
    text-decoration: none;
}
.modal-body p a:hover{
    text-decoration: underline;
}
.modal-footer{
    border: none;
    padding-top: 0;
    padding-bottom: 20px;
}
.modal-footer .form-btn{
    background-color: var(--light-green);
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    padding: 5px 50px;
    font-weight: bolder;
    margin: auto;
    border: none;
}
.modal .modal-footer .form-btn:hover {
    background: var(--green);
    cursor: pointer;
}



