:root {
    --blue: #1877f2;
    --green: #42b72a;
    --light-blue: #E9EBEE;
    --white: #FFFFFF;
    --black: #000000;
    --light-dark: rgba(0, 0, 0, 0.1);
    --palceholder: rgba(0, 0, 0, 0.4);
}


body {
    background-color: var(--light-blue);
    font-size: 18px;
}
.content{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left{
    padding: 75px 0 0 75px;
}
.left h1{
    color: var(--blue);
    font-size: 60px;
    font-weight: 700;
}
.left p{
    font-size: 28px;
    line-height: 30px;
}
.right{
    margin: auto;
    padding: 0 90px;
}
.right form{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 15px 15px 25px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--light-dark), 0 8px 16px var(--light-dark);
}
.right form input{
    outline: none;
    border-radius: 5px;
    border-width: 1.8px;
    border-color: var(--light-dark);
    margin-bottom: 10px;
    padding: 10px;
}
.right form input:focus {
    border: 1.8px solid var(--blue);
}
.right form ::placeholder{
    color: var(--palceholder);
}
.right form .login-btn{
    background-color: var(--blue);
    border: none;
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-weight: bolder;
}
.right form .login-btn:hover {
    background: #0f71f1;
    cursor: pointer;
}
.right form hr{
    margin: 25px 0;
}
.right form .create-account{
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    padding: 10px 25px;
    font-weight: bolder;
    margin: auto;
    border: none;
}
.right form .create-account:hover {
    background: #03ad06;
    cursor: pointer;
}
.right form a{
    margin: auto;
    text-decoration: none;
    font-size: 15px;
}
.right .page{
    padding: 25px 15px 0 15px;
    font-size: 15px;
    text-align: center;
}
.right .page a{
    text-decoration: none;
    font-weight: 600;
    color: var(--black);
}