#fb-navbar{
    padding: 5px 20px;
    background-color: var(--white);
}

/*----------- left content --------------*/
#fb-navbar .left-content{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
}
#fb-navbar .left-content .fb-logo{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}
#fb-navbar .left-content .search-container {
    width: 280px;
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 8px 15px;
    color: var(--palceholder);
}
#fb-navbar .left-content .search-container .search-box {
    background: none;
    outline: none;
    border: none;
}

    /*----------- middle content --------------*/
#fb-navbar .middle-content{
    display: flex;
    justify-content: center;
    color: var(--palceholder);
    font-size: 25px;
    align-items: center;
}
#fb-navbar .middle-content i{
    padding: 10px 40px;
    border-radius: 5px;
}
#fb-navbar .middle-content i:hover{
    background-color: var(--light-blue);
    cursor: pointer;
}

/*----------- right content --------------*/
#fb-navbar .right-content{
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
}
#fb-navbar .right-content i{
    border-radius: 50%;
    padding: 10px;
    background-color: var(--light-blue);
    font-size: 20px;
}
#fb-navbar .right-content .img-profile{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}
#fb-navbar .right-content i:hover{
    background-color: var(--light-dark);
    cursor: pointer;
}
#fb-navbar .right-content .img-profile{
    cursor: pointer;
}